body
{
    background: #403A3E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BE5869, #403A3E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BE5869, #403A3E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: url("bg6.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}



.scrollable-table {
    height: 400px; /* Ajusta la altura según sea necesario */
    overflow-y: auto; /* Habilita el scroll vertical */
    margin-top: 16px;
    border-radius: 0.5rem; /* Redondea las esquinas */
    border: 1px solid #000000; /* Agrega un borde para que se vea mejor */
    scrollbar-width: thin; /* Para navegadores Firefox */
    scrollbar-color: transparent transparent; /* Para navegadores Firefox */
    }

    /* Para navegadores WebKit (Chrome, Safari) */
.scrollable-table:-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    opacity: 0; /* Oculta la barra de desplazamiento */
}

.scrollable-table:-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    opacity: 0; /* Oculta la barra de desplazamiento */
}

.scrollable-tablehover::-webkit-scrollbar {
    opacity: 1; /* Muestra la barra de desplazamiento al pasar el mouse */
}

.scrollable-table:-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
}