<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css')}}">
    
    <!-- Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css')}}">
    <title>Jumbotron y Tabla</title>
    <style>
        .scrollable-table {
            height: 400px; /* Ajusta la altura según sea necesario */
            overflow-y: auto; /* Habilita el scroll vertical */
        }
    </style>
</head>
<body>
  <div class="month-year">{{ month }}/{{ year }}</div>
  <!-- Renderiza el calendario HTML -->
  {{ calendar_html|safe }}
</body>
</html>
